<!DOCTYPE html>
<html lang="en" ng-app="queuedApp">
  <head>
    <title>Queued</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="javascripts/vendor/jquery.rdio.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/controllers.js"></script>
  </head>
  <body>
    <div id='layout' ng-view>
    </div>

  </body>
</html>