<h1>Congrats! You've logged in!</h1>
<div>
  <form ng-controller='PartyCreateCtrl' ng-submit='create()'>
    <input type="text" name="party_name" ng-model="party_name">
    <input type="submit" id="submit" value="Create!">
  </form>

</div>
<!-- <div>
  <ul>
    <li ng-reapeat='party in parties | orderBy: updated_at'>
      <a href="/party/{{party.party_url}}"></a>
      <a href="/party/{{party.party_url}}">{{party.name}}</a>
    </li>
  </ul>
</div> -->
