
<h1>Queued</h1>
<p>Enter the name of the party you would like to join</p>
<div>
  <form ng-controller='PartyJoinCtrl' ng-submit="submit()">
    <input type="text" name="name" ng-model="name">
    <input type="submit" id="submit" value="submit">
  </form>

</div>
