<div ng-controller='RdioCtrl'>
  <h1>Party Name: {{party.name}}</h1>
  <h2>Party URL: {{party.party_url}}</h2>

  <div class="search">
  </div>

  <div class="player" ng-controller='PlayerCtrl'>
    <div id="api"></div>
    <img id="art" src="" height="200" width="200" style="float:left;margin-right:20px;">
    <div>
      <div><b>Track: </b><span id="track"></span></div>
      <div><b>Album: </b><span id="album"></span></div>
      <div><b>Artist: </b><span id="artist"></span></div>
      <div><b>Position: </b>
        <span style="display:inline-block;width:200px;border:1px solid black;">
          <span id="position" style="display:inline-block;background-color:#666">&nbsp;</span>
        </span></div>
      <div>
        <button id="previous">&lt;&lt;</button>
        <button id="play">|&gt;</button>
        <button id="pause">||</button>
        <button id="next">&gt;&gt;</button>
      </div>
    </div>
    </div>
  </div>

  <div ng-controller='QueueCtrl' class="queue"></div>


<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost');
  socket.on('news', function (data) {
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });
</script>
