<div ng-controller='RdioCtrl'>
  <div ng-controller='SocketCtrl'>
    <h1>Party Name: {{party.name}}</h1>

    <div class="search" ng-controller='SearchCtrl'>
      <button ng-click='search()'>Search</button>
    </div>

    <div class="player" ng-controller='PlayerCtrl'>
      <button ng-click='play()'>Play Biggie</button>
    </div>

    <div ng-controller='QueueCtrl' class="queue">
      <ul class="songs">
        <li ng-repeat='song in songs | orderBy:orderProp:true'>
          Name: {{song.name}} -- Artist: {{song.artist}} -- Album: {{song.album}} -- Votes: {{song.vote_count}}
          <button ng-click='upVote()'>+1</button>
        </li>
      </ul>
    </div>
  </div>
</div>



<script>var socket = io.connect('http://localhost')</script>
<!-- <script src="https://www.rdio.com/api/api.js?client_id=3OUutphWh4HtZu_iRQPcMA"></script> -->
<script src="https://www.rdio.com/api/api.js?helper=../html/helper.html&client_id=3OUutphWh4HtZu_iRQPcMA"></script>
<script src="../javascripts/controllers.js"></script>