<h1>Queued</h1>
<p>Welcome to Queued</p>

<p>Would you like to:</p>
<div>
  <p><a href="http://www.rdio.com/oauth2/authorize?response_type=code&client_id=3OUutphWh4HtZu_iRQPcMA&redirect_uri=http://localhost:3000/home" >Login</a> to host a party -OR- <a href="/join">Join a Party</a></p>
</div>