<h1>Queued</h1>
<p>Welcome to Queued</p>

<p>Would you like to:</p>
<div ng-controller='PartyCreateCtrl'>
  <p><a ng-click="create()" href="">Host a Party</a> -OR- <a href="/join">Join a Party</a></p>
</div>
